body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #f5e1fd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: gray;
}

.App-link {
    color: #dcfffb;
}

input[type=number] {
    font-size: calc(10px + 2vmin);
    width: 4em;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.button {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button:before,
.button:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.button:before{
   height: 0%;
   width: 2px;
}
.button:after {
  width: 0%;
  height: 2px;
}
.button:hover:before {
  height: 100%;
}
.button:hover:after {
  width: 100%;
}
.button:hover{
  background: transparent;
}
.button span:hover{
  color: #c797eb;
}
.button span:before,
.button span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.button span:before {
  width: 2px;
  height: 0%;
}
.button span:after {
  height: 2px;
  width: 0%;
}
.button span:hover:before {
  height: 100%;
}
.button span:hover:after {
  width: 100%;
}

button {
    font-size: calc(10px + 2vmin);
}

textarea {
    font-size: calc(10px + 2vmin);
}

.ContractInfo {
    font-size: calc(10px + 1vmin);
    text-align: left;
    width: 90vw;
    height: 7em;
    padding: 2vw;
    overflow-x: scroll;
    white-space: pre;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f5e1fd;
  }
  
  .container {
    background-color:#f5e1fd;
    display: flex;
    height: 30vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .semicircle1 {
    height: 200px;
    width: 400px;
    border-radius: 275px 275px 0 0;
    position: relative;
  }
  
  .semicircle2 {
    height: 180px;
    width: 360px;
    top: 20px;
    left: 20px;
    border-radius: 275px 275px 0 0;
    position: relative;
  }
  
  .semicircle3 {
    height: 160px;
    width: 320px;
    top: 20px;
    left: 20px;
    border-radius: 275px 275px 0 0;
    position: relative;
  }
  
  .semicircle4 {
    height: 140px;
    width: 280px;
    top: 20px;
    left: 20px;
    border-radius: 275px 275px 0 0;
    position: relative;
  }
  
  .semicircle5 {
    height: 120px;
    width: 240px;
    top: 20px;
    left: 20px;
    border-radius: 275px 275px 0 0;
    position: relative;
  }
  
  .semicircle6 {
    height: 100px;
    width: 200px;
    top: 20px;
    left: 20px;
    border-radius: 275px 275px 0 0;
    position: relative;
  }
  
  .semicircle7 {
    height: 80px;
    width: 160px;
    top: 20px;
    left: 20px;
    border-radius: 275px 275px 0 0;
    position: relative;
  }
  
  .semicircle8 {
    background-color: #f5e1fd;
    height: 60px;
    width: 120px;
    top: 20px;
    left: 20px;
    border-radius: 275px 275px 0 0;
    position: relative;
  }
  
  /* General styling of the page. */
/* Sets a background color, font-size etc. */
body {
    background-color: #EDDDD4;
  }
  
  h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 5em;
    width: 5em;
    line-height: 0.9em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-top: calc(50vh - 1em);
  }
  
  
  /* Style the rainbow text element. */
  .rainbow-text {
    /* Create a conic gradient. */
    /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
    background: #CA4246;
    background-color: #CA4246;
    background: conic-gradient(
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #E16541 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%, 
      #8B9862 50%, 
      #8B9862 66.666%, 
      #476098 66.666%, 
      #476098 83.333%, 
      #A7489B 83.333%);
    
    /* Set thee background size and repeat properties. */
    background-size: 57%;
    background-repeat: repeat;
    
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-animation-rev 0.5s ease forwards;
  
    cursor: pointer;
  }
  
  /* Add animation on hover. */
  .rainbow-text:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

  body{
    font-family: 'Nunito', sans-serif;
  }
  
  .a{color: #E7484F}
  .b{color: #F68B1D}
  .c{color: #FCED00}
  .d{color: #009E4F}
  .e{color: #00AAC3}
  .f{color:  #732982}
  
  
  .container{
    margin-top: 150px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .rainbow{
    background-color: #343A40;
    border-radius: 4px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    
  }
  
  .rainbow-1:hover{
     background-color: violet;
     transition: 0.7s;
  }
  
  .rainbow-2:hover{
    background-color: indigo;
    transition: 0.7s;
  }
  
  .rainbow-3:hover{
    background-color: blue;
    transition: 0.7s;
  }
  
  .rainbow-4:hover{
    background-color: green;
    transition: 0.7s;
  }
  
  .rainbow-5:hover{
    background-color: yellow;
    transition: 0.7s;
  }
  
  .rainbow-6:hover{
    background-color: orange;
    transition: 0.7s;
  }
  
  .rainbow-7:hover{
    background-color: red;
    transition: 0.7s;
  }
  
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
  
  .follow{
    margin-top: 40px;
  }
  
  .follow a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
  